html {
    background-color: #f1f1f9;
}
h1, h2 {
    font-family: 'Alegreya SC', serif;
    margin: 0;
}

h1 {
    font-size: 6rem;
}

h3, h4, h5, h6, p {
    font-family: 'Spectral', serif;
}

.row {
    clear: both;
    width: 100%;
}

.dashboard {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: flex;
}

.grid-cell { 
    flex: 1;
}

/* Alignment per row */
.grid-top {
    align-items: flex-start;
}
.grid-bottom {
    align-items: flex-end;
}
.grid-center {
    align-items: center;
}

/* Alignment per cell */
.grid-cell-top {
    align-self: flex-start;
}
.grid-cell-bottom {
    align-self: flex-end;
}
.grid-cell-center {
    align-self: center;
}

/* Base classes for all media */
.grid-fit > .grid-cell {
    flex: 1;
}
.grid-12 > .grid-cell {
    flex: 0 0 100%;
}
.grid-6 > .grid-cell {
    flex: 0 0 50%
}
.grid-4 > .grid-cell {
    flex: 0 0 33.3333%
}
.grid-3 > .grid-cell {
    flex: 0 0 25%
}

/* to medium screens */
@media (min-width: 24em) {
    .sm-grid-full > .grid-cell {
        flex: 0 0 100%;
    }
    .sm-grid-1of2 > .grid-cell {
        flex: 0 0 50%
    }
    .sm-grid-1of3 > .grid-cell {
        flex: 0 0 33.3333%
    }
    .sm-grid-1of4 > .grid-cell {
        flex: 0 0 25%
    }
}
  
/* Large screens */
@media (min-width: 48em) {
    .lg-grid-12 > .grid-cell {
        flex: 0 0 100%;
    }
    .lg-grid-6 > .grid-cell {
        flex: 0 0 50%
    }
    .lg-grid-4 > .grid-cell {
        flex: 0 0 33.3333%
    }
    .lg-grid-3 > .grid-cell {
        flex: 0 0 25%
    }
}